<body class="body-top">
    <!--частичное представление						-->
    {{> header}}
    <main class="flex">
        <p>
            Наш адрес:Белогорск, ул. Ракетная, 18.
        </p>
        <p>
            Для свзяи с нами заполните форму:
        </p>
        <form>
            <div class="form-group row">
                <label for="inputName3" class="col-sm-4 col-form-label">Введите свое имя</label>
                <div class="col-sm-10">
                    <input type="name" class="form-control" id="inputName3">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputTel3" class="col-sm-4 col-form-label">Введите ваш номер телефона</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" id="inputTel3">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Введите ваш электронный адрес</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputText3" class="col-sm-4 col-form-label">Введите ваше сообщение</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputText3">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </div>
        </form>
    </main>

</body>