<!--частичное представление						-->
{{> header}}

<body class="body-top">
    <div class="row col-md-12 col-sm-12 col-12">
        <form action="#" id="review-form" style="display: none;">
            <div class="row">
                <label for="review-form-tema-inp" class="col-sm-4 col-form-label">Тема: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="review-form-tema-inp" autofocus="autofocus">
                </div>
            </div>
            <div class="row">
                <label for="review-form-text-inp" class="col-sm-4 col-form-label">Отзыв: </label>
                <div class="col-sm-10 contact-form-cell">
                    <textarea name="" id="review-form-text-inp" cols="60" rows="5" class="form-control"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-2 contact-form-cell"></div>
                <div class="col-10 reg-button-container contact-form-cell">
                    <button class="btn btn-primary" id="btn-primary" type="submit">Отправить</button>
                </div>
            </div>
        </form>
    </div>
    <div class="remarks">
        <table class="table table-bordered table-dark">
            <caption style="caption-side: top"><b>Отзывы</b></caption>
            <thead>
                <tr>
                    <th>id_user</th>
                    <th>Тема отзыва</th>
                    <th>Описание, впечатления о туре</th>
                </tr>
            </thead>

            {{#each remarks}}
            <tr>
                <td>{{this.id_user}}</td>
                <td>{{this.tema}}</td>
                <td>{{this.text}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</body>

<script src="js/remarks.js"></script>