<body class="body-top">
    <!--частичное представление						-->
    {{> header}}

    <main class="flex">
        <table class="table">
            <tr>
                <td rowspan=2>Туры в Крым</td>
                <td>Отель "Волна"</td>
            </tr>
            <tr>
                <td>Отель "Море"</td>
            </tr>
            <tr>
                <td rowspan=2>Туры на Кавказ</td>
                <td>Курортный отдых</td>
            </tr>
            <tr>
                <td>Горный туризм</td>
            </tr>
            <tr>
                <td rowspan=2>Туры на Алтай</td>
                <td>Зеленый туризм</td>
            </tr>
            <tr>
                <td>Конныйе туры</td>
            </tr>
        </table>
    </main>

</body>